Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
WTForms==3.1.2
SQLAlchemy==2.0.36
alembic==1.13.2
bcrypt==4.2.0
email_validator==2.2.0
gunicorn==23.0.0
pillow==11.0.0
qrcode==8.2
